//Logo
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

//Search
.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{}
    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus{
            outline: none;
        }
        &:active{
            transform: translateY(2px);
        }
    }
    &__icon{}
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
}

//User Navigation
.user-nav{
    &_icon-box{}
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }
    &__notification{}
    &_user{}
    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-left: 1rem;
    }
    &__user-name{}
}