.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}

.content{
    display: flex;
}

.sidebar{
    flex: 0 0 18%;
}

.residencia-view{
    flex: 1;
}

.fa-6{
    font-size: 2rem !important;
}

header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}