$color--base: grey;

@mixin quadrado ($cor) {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: $cor;
    
}

body{
    background-color: $color--base;
}

.quadrado--azul{
    @include quadrado(blue);
}

.quadrado--green{
    @include quadrado(green);
}

.quadrado--amarelo{
    @include quadrado(yellow);
}

.quadrado{
    background-color: $color--base;
    $__foto{
        color: green;
    }
    
}